@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!string.IsNullOrEmpty(ViewBag.NombreUsuario))
    {
        <h1 class="display-4">Bienvenido al sistema, @ViewBag.NombreUsuario</h1>
    }
    else
    {
        <h1 class="display-4">Bienvenido al sistema</h1>
    }

    <h2>¡Te damos la bienvenida a nuestra plataforma!</h2>
</div>

